@use "variables" as *;

.input-group {
  position: relative;
  display: grid;
  gap: 4px;
  width: fit-content;

  &.error {
    label {
      color: $clr-error;

      .hover & {
        color: inherit;
      }
    }

    p {
      color: $clr-error;
    }
  }

  p {
    font-size: 10px;
    margin: 0;
    color: $clr-gray-300;
  }

  span {
    position: absolute;
    bottom: 1.1rem;
    font-variation-settings: "FILL" 1;
    font-size: 22px;
    color: $clr-gray-300;

    &.start {
      left: 0.8rem;
    }

    &.end {
      right: 0.8rem;
    }
  }
}

input,
textarea {
  font-size: $fs-400;
  font-weight: 500;
  text-transform: capitalize;
  min-width: 208px;
  width: fit-content;
  padding: 18px 12px;
  border: 1px solid $clr-gray-300;
  border-radius: 8px;
  resize: none;

  .error & {
    border-color: $clr-error;

    &:focus,
    .focus & {
      outline-color: $clr-error;
    }
  }

  &:hover,
  .hover & {
    border-color: $clr-gray-700;
  }

  &:focus,
  .focus & {
    outline: 2px solid $border;
    border-color: transparent;
  }

  &:disabled {
    border-color: $border-disabled;
    background-color: $bg;
  }
}
